p {
  font-family: Roboro, Arial;
  margin-top: 0;
  margin-bottom: 0;

}

body {
  margin: 0;
  padding-left: 100px;
  padding-right: 30px;

}


body {
  height: 1000px;
  /*TO BE REMOVED*/
  padding-top: 80px;

}