.search-bar {
  font-size: 20px;
  flex: 1;
  height: 30px;
  background-color: rgb(240, 240, 240);
  border: 0px solid rgb(240, 240, 240);
  border-radius: 15px;
  box-shadow: inset 1px 2px 3px rgba(15, 15, 15, 0.05);
  min-width: 40px;

}

.search-icon {
  height: 25px;
  margin-top: 4px;

}

.search-button,
.voice-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.search-button {
  height: 32px;
  width: 60px;
  /* background-color: rgb(240, 240, 240); */
  margin-left: -18px;
  border-radius: 10px;
  border: none;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.search-button .tooltip,
.voice-button .tooltip {
  position: absolute;
  background-color: grey;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
  font-size: 12px;
  bottom: -100;
  opacity: 0;
  transition: opacity 0.15s ease;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip {
  opacity: 1;
}

.voice-button {
  height: 40px;
  width: 40px;
  background-color: rgb(245, 245, 245);
  border: none;
  margin-left: 8px;
  border-radius: 20px;
  cursor: pointer;
}

.voice-icon {
  height: 22px;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(233, 231, 231);
  z-index: 100;
  /*This will ensure the header appears at the top of other elements*/
}

.left-section {
  display: flex;
  align-items: center;
}

.middle-section {
  flex: 1;
  margin-left: 50px;
  margin-right: 36px;
  max-width: 650px;
  min-width: 0;
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
  min-width: 0;
  /* flex-shrink: 0; */
}

.youtube-logo {
  height: 20px;
}

.humburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}

.upload-icon {
  height: 24px;
  margin-right: 20px;
}

/* .youtube-apps-icons {
  height: 24px;
} */

.notifications {
  height: 30px;
  margin-right: 20px;
}

.current-user-picture {
  height: 34px;
  margin-right: 38px;
  border-radius: 19px;
}

.position-notification {
  position: relative;
}

.notification-count {
  position: absolute;
  top: 0;
  right: 20px;
  background-color: red;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  text-align: center;
  border-radius: 10px;
  font-size: 11px;
}