.thumbnail {
  width: 300px;
}

.search-bar {
  font-size: 20px;
}

.search-bar {
  display: block;
}

.author,
.stats {
  display: block;
}

/*Divs*/
.video-player {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

/*Nested layouts styles*/
.channel-profile {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.profile1 {
  width: 100%;
}

.title {
  margin-top: 0;
}

.video-info {
  display: inline-block;
  width: 200px;

}