.thumbnail {
  width: 300px;
}

.search-bar {
  font-size: 20px;
}

.search-bar {
  display: block;
}

.title {
  width: 300px;
}

.author,
.stats {
  display: block;
}

/*Divs*/
.video-player {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}