/* pagination styles*/
p {
  font-weight: bold;
}

.link-next,
.link-back {
  padding: 10px;
  font-size: 18px;
  margin-right: 10px;
}

.link-next {
  margin-left: 10px;
}

a {
  font-size: 20px;
  color: black;
}

/*Stretch style*/
.button-stretch,
.button-shadow,
.together {
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid green;
  padding: 8px 14px;
  cursor: pointer;
}

.button-stretch {
  transition: padding 0.15s;
}

.button-stretch:hover {
  padding: 24px 40px;
}

/*shadow buttons css*/
.button-shadow {
  transition: padding 0.15s;
}

.button-shadow:active {
  padding: 8px 14px;
  margin-top: 5px;
  margin-left: 5px;
}

/*Margin and padding together buttons*/
.together {
  margin-left: 10px;
  margin-right: 10px;
  transition: padding 0.15s, margin 0.15s;
}

.together:hover {
  padding-right: 25px;
  padding-left: 25px;
  margin-left: 0px;
  margin-right: 0px;
}